<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }}</title>
    {{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS $options }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>
<body>
    {{ partial "header" . }}
    <hr>
    <main>
        <div>
            <form action="">
                <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">ポケット用</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">スリー用</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div class="card">
                            <img src="https://placehold.jp/335x108.png" class="card-img-top w-100" alt="">
                            <div class="card-body">
                                <h5 class="card-title">風神 Fuhjin</h5>
                                <table class="table table-borderless">
                                    <tr>
                                        <th>シャフト材質</th>
                                        <td>テキストテキスト</td>
                                    </tr>
                                    <tr>
                                        <th>シャフト材質</th>
                                        <td>テキストテキスト</td>
                                    </tr>
                                    <tr>
                                        <th>シャフト材質</th>
                                        <td>テキストテキスト</td>
                                    </tr>
                                </table>
                                <p>長さ、重さにタップは含みません。</p>
                                <p class="font-weight-bold">¥ 45,000 〜（税別）</p>
                                <input type="radio" name="" value="ポケット用-風神" id="pocket-fuhjin" class="shaft-type">
                                <label for="pocket-fuhjin">風神</label>
                            </div>
                        </div>
                        <div class="card mt-5">
                            <img src="https://placehold.jp/335x108.png" class="card-img-top w-100" alt="">
                            <div class="card-body">
                                <h5 class="card-title">雷神 Raijin</h5>
                                <table class="table table-borderless">
                                    <tr>
                                        <th>シャフト材質</th>
                                        <td>テキストテキスト</td>
                                    </tr>
                                    <tr>
                                        <th>シャフト材質</th>
                                        <td>テキストテキスト</td>
                                    </tr>
                                    <tr>
                                        <th>シャフト材質</th>
                                        <td>テキストテキスト</td>
                                    </tr>
                                </table>
                                <p>長さ、重さにタップは含みません。</p>
                                <p class="font-weight-bold">¥ 45,000 〜（税別）</p>
                                <input type="radio" name="" value="ポケット用-雷神" id="pocket-raijin" class="shaft-type">
                                <label for="pocket-raijin">風神</label>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">bbb</div>
                </div>
            </form>
        </div>
    </main>
    {{ partial "footer" . }}
</body>
</html>